*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: arial;
}

.navbar
{   
    margin-top: 2vh;
    width: 99vw;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: center;
    padding:0vw 1.8vw;
}

.logo img {
    width:5vw;;
    padding: .5vw 0;
}

.searchbar {
    margin-top: .5vh;
    padding-left: 1vw; 
    width: auto;
    height: 4.6vh;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius:25px;
    display: flex;
    justify-content: space-between;
}

.searchbar:hover{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

.searchbar img{
    margin: .7vw;
    width: 1.4vw;
    height: 2vh;
}

input {
    padding-left: 1vw;
    width: 35vw;
    height: auto;
    border: 0px;
    font-size: 1rem;
}



.nav-sec1 {
    display: flex;
    
    
}

.nav-sec2{
    
    margin-top: .5vh;
}
.signin-b{
    margin-right: 1.4vw;
    background-color: #4285f4;
    padding:.4vw .6vw;
    margin-left: .4vw;
    color:white;
    font-weight: bold;
}

.singin-b:hover{
    text-decoration: none;
    color:white;
    cursor: default;
}

.buttons-right {
    height: 100%;
    display: flex;
    align-items: center;
}

.buttons-right img {
    padding-top: .4vw;
    width: 1vw;
    margin-right: 0.5vw;
}

.buttons-right a{
    text-decoration: none;
}
.sub-navbar {
    margin-top: 1.3vh;
    border-bottom: 1px solid lightgray;
}
.sub-navbar ul {
    margin-left:10vw;
    padding-bottom: 1vh;
}
.sub-navbar ul li{
    display: inline-block;
    padding: .5vh .5vw;
    color:#5f6368;
}

.sub-navbar ul li a{
    text-decoration: none;
    color:#5f6368;
    font-size: .9rem;
    padding-left: .2vw;
}
.sub-navbar ul li:nth-child(7){
    padding-left:3vw;
}

.sub-navbar ul li:nth-child(1){
    color: #4285f4;
    border-bottom: 2px solid #4285f4;
}

.results {
/*    border: 1px solid red;*/
    min-height: 50vh;
    width: 40vw;
    margin-left: 10.5vw;
    height: auto;
}

.para {
    margin-top: 1.2vh;
    color: #70757A;
    font-size: .9rem;
}

.site-result1 {
    margin-top: 1vw;
}

.site-result1 p{
    color: #3C4043;
    font-size:.9rem;
}

.site-result1 a{
    margin-top: .5vh;
    font-weight: 500;
    color: #1a0dab;
    font-size: 1.3rem;
    text-decoration: none;
}
.site-result1 a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.site-result1 h6{
    margin-top: .5vh;
    color: #3C4043;
    font-size: .9rem;
    font-weight: normal;
    line-height: 1.4;
}
.tab-result
{
    margin-top:1vw;
    display: flex;
    flex-wrap: wrap;
    
}
.site-result2 a{
    font-weight: 500;
    color: #1a0dab;
    font-size: 1.3rem;
    text-decoration: none;
}
.site-result2 a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.site-result2 h6{
    color: #3C4043;
    font-size: .9rem;
    font-weight: normal;
    line-height: 1.4;
}
.site-result2 {
    width: 40%;
    padding-bottom: 1vw;
    margin-left: 5%;
}

.para2{
    color: #1a0dab;
    font-size:.9rem;
    margin-left: 1.8vw;
}

.poa {
    margin-top: 2vh;
    cursor: pointer;
}
.poa p:nth-child(1){
    font-size: 1.2rem;
}
.poa  p{
    font-size: 1rem;
    color: #222222;
    border: .5px solid lightgray;
    border-radius: 3px;
    padding: .8rem; 
}

.poa p i{
    float: right;
}
.related-result {
    margin-top: 3vh;
     border-radius: 3px;
     border: .5px solid lightgray;
    padding:1vh 1vw;
    padding-bottom: 4vh;
}
.related-result span{
    color:#70757a;
    font-size: .9rem;
}
.related-result p{
    margin-top: .5vh;
    color: #222222;
    font-size: 1.2rem;
}
.related-result div{
    margin-top: 1vh;
    display: inline-block;
    
    margin-right: 1vw;
}
.related-result div img{
    width: 5rem;
    cursor: pointer;
}

.para3 {
    color: #222222;
    font-size: 1.3rem;
    margin-top: 3vh;
}

.related-result2{
    margin-top: 2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 27vw;
    
}
.related-result2 a{
    text-decoration: none;
    margin-right: 2vw;
    color:#1a0dab;
    font-size: .9rem;
    padding-top: 1vh;
}
.related-result2 a:hover{
    text-decoration: underline;
}

.pagenav {
    margin-top: 2vh;
    padding-left: 10vw;
}

footer{
    border-top:.5px solid rgba(0,0,0,0.4);
    background-color: #f2f2f2;
    padding-left: 10vw;
    padding-top: 1vh;  
    margin-top: 2vh;
    padding-bottom:2vh;
}

footer a {
    text-decoration: none;
    color: rgba(0,0,0,0.6);
    font-size: .87rem;
    margin-top: 2vh;
    padding-right: 2vw;
    
}
